@font-face {
    font-family: LibreBaskerville;
    src: url("LibreBaskerville-Regular.otf") format("opentype");
}
@font-face {
    font-family: EBGaramond12;
    src: url("EBGaramond12-Regular.otf") format("opentype");
}

body {
    font-family: "EBGaramond12", serif !important;
}

header {
    background-color: whitesmoke;
}

.external-link i {
    font-size: 1.5rem;
    margin: 1rem .5rem;
}